@import url('https://fonts.googleapis.com/css?family=Poppins');


*{
  font-family: 'Poppins';
}

@media (max-width: 205px) {
  #quiz, #zone {
   font-size: xx-small;
  }
}

#head1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #3B3B3B;

}

#head2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #66FCF1;

}



#discover{
  font-size:50px;
  font-weight:bolder;
  font-style: bold;
  color: #3B3B3B; 
}




#start{
  border: 2px solid #66FCF1; color: #3b3b3b; 
  font-weight: bold; 
  font-size:20px; 
  background-color:#66FCF1; 
 
}

.start1{
  border: 2px solid #66FCF1; color: #3b3b3b; 
  font-weight: bold; 
  font-size:20px; 
  color: black;
  background-color:#66FCF1; 
 
}

.next1{
  width: 6em;
}

.custom-btn {
  color: #66FCF1;
  border-color: #66FCF1;
  padding: 10px;
  font-weight: bold;
  width: 130px;
  margin-left: 30px;
  background-color: white;
}

.ellipse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px; /* Adjust the width for ellipse */
  height: 210px; /* Adjust the height for ellipse */
  background-color: #00FFFF; /* Same as the text-info color */
  border-radius: 50% / 50%;
  font-size: 4em;
  color: black;
  font-weight: bold;
  margin: auto;
}



/* It will apply on div with ul as first child, it is child selector , ignore nesting*/
div > ul{
  display: inline-block;
}


li{
  display: inline-block;
  color : black;
  font-size:150%;;
  margin-left: 40px;
  font-style: bold;

}
th{
  font-size:30px;

  font-weight: bold;
  font-style: bold;
  margin: 30px;
  color: white;
  margin-left: 40px;
}

td{
  font-size:20px;

  font-weight: normal;
  font-style: normal;
  margin: 20px;
  padding: 20px;
  color: white;

}


/* Classes */

.tableSection{
 background-color: black;
 color: aliceblue;
 margin: 30px;
}

.score1{
  margin-left: 25%;
}

.complete{
  margin-right: 10%;
}

.divMargin{
  margin-top: 4em;
  margin-bottom: 4em;
}

.complete1{
  margin-top: 5em;
  width: 12em;
  height: 3em;
}
